<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel</title>
  </head>
  <body>
    <h3>Main Component</h3>
    <!-- <HotelApp-rooms></HotelApp-rooms> -->
    <HotelApp-container>
      <HotelApp-rooms></HotelApp-rooms>
      <HotelApp-employee></HotelApp-employee>
      <h1>This is from ng-content</h1>
    </HotelApp-container>
    <div #name></div>

    <!-- <div [ngSwitch]="role">
      <div *ngSwitchCase="'User'">Welcome User!</div>
      <div *ngSwitchCase="'Admin'">Welcome Admin!</div>
      <div *ngSwitchDefault>You are not authorized to view this page!</div>
    </div> -->

    <!-- ng-template example
    <div>
      <ng-template #user></ng-template>
    </div> 
    -->
  </body>
</html>
